<!DOCTYPE html>
<html lang="en" ng-app="puzzle">
<head>
  <meta charset="utf-8">
  <title>2048 puzzle</title>
  <link rel="stylesheet" type="text/css" href="styles/app.css" />
</head>
<body>

<div ng-controller="puzzleController">
  <div id="container" ng-class="{gameover : gameOver}">
    <div class="block val val-{{block.val}}"
          ng-repeat="block in blocks"
          style="width: {{blockWidth}}%;
                 height: {{blockHeight}}%">

      <!-- <div class="block-index">{{block.index}}</div> -->
      <div class="block-val">{{block.val}}</div>
    </div>
  </div>

<!--   <button ng-click="move('left')" ng-disabled="{{gameOver}}">Left</button>
  <button ng-click="move('up')" ng-disabled="{{gameOver}}">Up</button>
  <button ng-click="move('right')" ng-disabled="{{gameOver}}">Right</button>
  <button ng-click="move('down')" ng-disabled="{{gameOver}}">Down</button> -->

  <h4>{{gameStatus}}: {{keepScore}}</h4>
  <h3>Highest block: {{highestBlock}}</h4>
</div>

<!-- Depencencies -->
<script type="text/javascript" src="scripts/vendor/jquery.min.js"></script>
<script type="text/javascript" src="scripts/vendor/angular.min.js"></script>

<!-- Main app -->
<script type="text/javascript" src="scripts/controllers.js"></script>
</body>
</html>