html, body{
	font-family: arial;
}

body *{
	box-sizing: border-box;
}

/*value above 2048*/
.val{		background:#fff;}

/*all other values*/
.val-2{		background:#FFE7C6;}
.val-4{		background:#FFB573;}
.val-8{		background:#FF8429;}
.val-16{	background:#AD4A18;}
.val-32{	background:#FF6342;}
.val-64{	background:#D60000;}
.val-128{	background:#94D639;}
.val-256{	background:#218429;}
.val-512{	background:#639C18;}
.val-1024{	background:#425A10; color: white;}
.val-2048{	background:#082984; color: white;}

#container{
	background:#eee;
	width:500px;
	height:500px;
	padding:10px;
	position: relative;
	font-size: 0;
}

.block {
	display: inline-block;
	border:solid 1px #eee;
	text-align: center;
	position: relative;
}

.block.val-0{
	/*visibility: hidden;*/
	/*opacity: .5;*/
}

/*vertical center hack, pretty neat right?*/
.block:before{
	content:" ";
	display: inline-block;
	vertical-align: middle;
	height:100%;
	width:0;
}

.block .block-val{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 42px;
	font-weight: bold;
	color:rgba(0,0,0,.4);
	width: 100%;
}

.block .block-index{
	position:absolute;
	top:0;
	right:0;
	font-size:14px;
	margin:10px;
}