html, body{
	font-family: arial;
}

body *{
	box-sizing: border-box;
}

.block.val-0{
	background:transparent;
}

/*all other values*/
.block.val-2{		background:#FFE7C6;}
.block.val-4{		background:#FFD39B;}
.block.val-8{		background:#FFA54F;}
.block.val-16{		background:#FF8C00; color: white;}
.block.val-32{		background:#CD2626; color: white;}
.block.val-64{		background:#FF4040; color: white;}
.block.val-128{		background:#D60000; color: white;}
.block.val-256{		background:#218429; color: white;}
.block.val-512{		background:#639C18; color: white;}
.block.val-1024{	background:#425A10; color: white;}
.block.val-2048{	background:#082984; color: white;}

#container{
	background:#eee;
	width:500px;
	height:500px;
	padding:10px;
	position: relative;
	font-size: 0;
}

#container.gameover{
	opacity: .5;
}

.block {
	display: inline-block;
	border:solid 1px #eee;
	text-align: center;
	position: relative;
	color:rgba(0,0,0,.4);
	transition: background ease-out .2s;
}

/*vertical center hack, pretty neat right?*/
.block:before{
	content:" ";
	display: inline-block;
	vertical-align: middle;
	height:100%;
	width:0;
}

.block .block-val{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 42px;
	font-weight: bold;
	width: 100%;
	transition: font-size ease-in .2s;
}

.block.val-0 .block-val{
	color:transparent;
	font-size:0;
}


.block .block-index{
	position:absolute;
	top:0;
	right:0;
	font-size:14px;
	margin:10px;
}