html, body{
	font-family: arial;
	overflow: hidden;
	 -webkit-user-drag: none;
}

body *{
	box-sizing: border-box;
}

.val-0{		background:transparent;}
.val-0 .val-number{ font-size:0; opacity:0; }

/*all other values*/
.val-2{		background:#FFE7C6;}
.val-4{		background:#FFD39B;}
.val-8{		background:#FFA54F;}
.val-16{		background:#FF8C00; color: white;}
.val-32{		background:#CD2626; color: white;}
.val-64{		background:#FF4040; color: white;}
.val-128{	background:#D60000; color: white;}
.val-256{	background:#218429; color: white;}
.val-512{	background:#639C18; color: white;}
.val-1024{	background:#425A10; color: white;}
.val-2048{	background:#082984; color: white;}

#container{
	display: inline-block;
	width:100%;
	max-width: 500px;
	position: relative;
}

#container:after{
	content:"";
	display: block;
	margin-top:100%;
}

#grid{
	background:#eee;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	padding:10px;
	font-size: 0;
	border-radius: 15px;
}

#grid.gameover{
	opacity: .5;
	background:#c00;
}

.block {
	display: inline-block;
	position: relative;
	padding:5px;
}

.block-val{
	display: inline-block;
	width: 100%;
	height:100%;
	border-radius: 10px;
	transition: background ease-out .3s;
}

@-webkit-keyframes zoom{
	from{ -webkit-transform: scale(1.0,1.0); }
	50%{ -webkit-transform: scale(1.2,1.2); }
	to{ -webkit-transform: scale(1.0,1.0); }
}

.block-val.animate{
	-webkit-animation: zoom ease-in-out alternate .4s;
}

.block-val:before{
	content:"";
	display: inline-block;
	height:100%;
	vertical-align: middle;
}

.val-number{
	font-size: 58px;
	font-weight: bold;
	display: inline-block;
	width:100%;
	text-align: center;
	vertical-align: middle;
	opacity: .6;

	transition: opacity ease-out .2s, font-size ease-out .2s;
}